<mat-card class="card">
    <mat-card-header>
      
      <mat-card-title><h1>HelpDesk</h1></mat-card-title>
      <mat-card-subtitle><h2>Aplicação Web</h2></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/human.svg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Bem vindo a aplicação web, HelpDesk. Nesta versão estão sendo aplicados os conceitos de desenvolvimento web com autenticação JWT<br>
orientação a objetos, conceitos de desenvolvimento de aplicações em microserviços, usando a stack Angular(front-end), SpringBoot(back-end)<br>
 e uso de banco de dados MySQL.
      </p>
    </mat-card-content>

  </mat-card>
  
