<div class="container mat-elevation-z8">
    <form  class="form">
        <h1 class="fullWidth">Cadastrar Técnico</h1>

        <section class="section">
            <mat-checkbox class="margin" >Admin</mat-checkbox>
            <mat-checkbox class="margin" >Cliente</mat-checkbox>
            <mat-checkbox class="margin" >Técnico</mat-checkbox>
           
          </section>

          <p>
            <mat-form-field class="fullWidth" appearance="legacy">
              <mat-label>Nome Completo</mat-label>
              <input matInput placeholder="Ex. Fulano de Tal ">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
             
            </mat-form-field>
          </p>

          <p>
            <mat-form-field field class="fullWidth"  appearance="legacy">
              <mat-label>CPF</mat-label>
              <input matInput placeholder="Ex. 00000000000">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            
            </mat-form-field>
          </p>

          <p>
            <mat-form-field field class="fullWidth"  appearance="legacy">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ex. email@gmail.com">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
             
            </mat-form-field>
          </p>

          <p>
            <mat-form-field field class="fullWidth"  appearance="legacy">
              <mat-label>Senha</mat-label>
              <input type="password" matInput placeholder="Ex. 1234">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              
            </mat-form-field>
          </p>

          <p>
            <mat-form-field field class="fullWidth"  appearance="legacy">
              <mat-label>Legacy form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
             
            </mat-form-field>
          </p>

    </form>

</div>